
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --bg-dark: #2F303A;
    --bg-bright: #F5F4FA;
    --primary-white-color: #fff;
    --accent-color-button: #188CE8;
    --color-logo: #000;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.70;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
}

/* Блок контейнера */
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    outline: 2px solid tomato;
}

/* Лого у шапці */

.logo {
    color: var(--color-logo);
    font-family: "Raleway", sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;

}

.logo-accent {
    color: var(--accent-color);
}

/* Навігація */
.site-nav .link {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav .link {
    color: var(--primary-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Герой */
.hero {
    text-align: center;
}

.hero-bg {
    background-color: var(--bg-dark);
}
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Кнопка */
.button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}
.button:hover {
    background-color: var(--accent-color-button);
}

/* Секції */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
 
.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
} 

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* Особливості */
.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.feature-list p {
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Команда */
.section-bg {
    background-color: var(--bg-bright);
}
.team li {
    background-color: var(--primary-white-color);
}
.section-name {
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.section-profession {
    font-size: 16px;
    line-height: 1.18;
}

.last-img {
    margin-bottom: 94px;
}

/* Футтер */
.footer-bg {
    padding: 60px 60px;
    background-color: var(--bg-dark);
}
.footer-logo {
    color: var(--primary-white-color);

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.footer-address {
    color: var(--primary-white-color);

    font-style: normal;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    
    font-style: normal;
}

.footer-contact:hover,
.footer-contact:active {
    color: var(--accent-color);
}

/* address {
    margin-top: 20px;
} */

/* Стили для portfolio.html */
/* Секция кнопок */
.button-second {
    background-color: var(--bg-bright);
    color: var(--title-text-color);
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}
.button-second:hover,
.button-second:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
}
/* Секція карток */

.section-names {
    color: var(--title-text-color);

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
}

.section-content {
    color: var(--primary-text-color);

        font-size: 16px;
        line-height: 1.87;
}